<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Lenovo/Desktop/D_Facade_pattern_test">
        <parameter name="login" value="standard_user"></parameter>
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="org.example.tests.LoginAndAddTest"></class>
        </classes>
    </test>
</suite>